.app {
}
.title {
}
.board {
  list-style: none;
  font-size: 0;
  margin: 10px 0;
}
.board li {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: gainsboro;
  color: slategrey;
  border: 1px solid white;
  font-size: 14px;
  line-height: 30px;
}
.board li:hover {
  border: 1px solid red;
}
.board li.sign {
  background-color: lightskyblue;
}
.board li.exponent {
  background-color: navajowhite;
}
.board li.nonzero {
  color: red;
  font-weight: 700;
}
.ipt {
}
