:root {
  --chess-white: "⚪";
  --chess-black: "⚫";
  --cols: 3;
}
#canvas {
}
.chessboard {
  box-sizing: border-box;
  list-style: none;
  width: 300px;
  margin: 10px;
  padding: 0;
  font-size: 0;
}
.chessboard li {
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  outline: 1px solid #cdcdcd;
  vertical-align: top;
  text-align: center;
  cursor: pointer;
}
.chessboard li.black,
.chessboard li.white {
  cursor: default;
  font-size: 70px;
  /* text-shadow: 0px 2px 2px #6f6f6f; */
}
.chessboard li.black::before {
  content: var(--chess-black);
}
.chessboard li.white::before {
  content: var(--chess-white);
}
